.timeline-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0;
    padding-left: 0;
}

.timeline-container::after {
    background-color: white;
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    width: 4px;
    height: 100%;
}

.timeline-item {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    position: relative;
    margin: 10px 0;
    width: 50%;
}

.timeline-item:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;
    padding-left: 30px;
    list-style: none;
}

@media (max-width: 767px) {
    .timeline-container::after {
        position: absolute;
        left: 3rem;
    }

    .project-description {
        width: auto;
    }

    .timeline-item {
        align-self: flex-start;
        justify-content: flex-start;
        padding-left: 5rem;
        width: 450px;
        list-style: none;
    }

    .timeline-item:nth-child(odd) {
        align-self: flex-start;
        justify-content: flex-start;
        padding-left: 5rem;
        width: 450px;
        list-style: none;
    }

    .timeline-item-content {
        text-align: left !important;
        align-items: flex-start;
        max-width: 100% !important;
    }

    .timeline-item-content::after {
        content: ' ';
        background-color: var(--bs-dark);
        position: absolute;
        top: calc(50% - 7.5px);
        transform: rotate(45deg);
        width: 15px;
        height: 15px;
        right: auto;
        left: -7.5px;
        box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
    }

    .timeline-item:nth-child(odd) .timeline-item-content {
        text-align: left;
        align-items: flex-start;
    }

    .timeline-company-url {
        color: var(--main-color);
        align-self: flex-start;
    }

    .timeline-item-content a {
        font-weight: bold;
        font-size: 0.9rem;
    }

    .timeline-item-content a::after {
        font-size: 0.5rem;
    }


    .timeline-item-content .circle {
        left: calc(-3rem + 9px);
    }

    .timeline-item:nth-child(odd) .timeline-item-content .circle {
        right: auto;
        left: 3rem;
    }

    .timeline-period {
        text-align: left;
    }

    .timeline-company {
        text-align: left;
    }

    .timeline-company-url {
        align-self: start;
        text-align: left;

        align-content: start;
        align-items: start;
        justify-content: start;
    }

    .timeline-item-card .card-body {
        width: 300px !important;
    }
}


@media (max-width: 999px) {
    .timeline-item-content {
        width: 350px !important;
        max-width: 100% !important;
    }
    .navbar {
        padding: 0.2rem 1rem !important;
    }
    .navbar-nav .nav-item {
        margin-left: 0;
    }
}

@media (max-width: 499px) {
    .timeline-item-content {
        width: 250px !important;
    }

    .timeline-item-card .card-body {
        width: 250px !important;
    }

    .timeline-item {
        width: 350px;
    }

    .timeline-item:nth-child(odd) {
        width: 350px;
    }
}

@media (max-width: 399px) {
    .timeline-container::after {
        left: 0;
    }

    .timeline-item:nth-child(odd) {
        align-self: flex-start;
        justify-content: flex-start;
        padding-left: 5rem;
        width: 450px;
        list-style: none;
    }

    .timeline-item-content::after {
        content: ' ';
        background-color: var(--bs-dark);
        position: absolute;
        top: calc(50% - 7.5px);
        transform: rotate(45deg);
        width: 15px;
        height: 15px;
        right: auto;
        left: -7.5px;
        box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
    }

    .timeline-item:nth-child(odd) .timeline-item-content {
        text-align: left;
        align-items: flex-start;
    }

    .timeline-company-url {
        color: var(--main-color);
        align-self: flex-start;
    }

    .timeline-item-content a {
        font-weight: bold;
        font-size: 0.9rem;
    }

    .timeline-item-content a::after {
        font-size: 0.5rem;
    }

    .timeline-item {
        align-self: flex-start;
        justify-content: flex-start;
        list-style: none;
        width: 250px;
        padding: 0;
    }

    .timeline-item:nth-child(odd) {
        width: 250px;
        padding: 0;
    }

    .timeline-item-content .circle {
        left: -7px !important;
    }

    .timeline-item:nth-child(odd) .timeline-item-content .circle {
        left: 0;
    }

    .timeline-period {
        text-align: left;
    }

    .timeline-company {
        text-align: left;
    }

    .timeline-company-url {
        align-self: start;
        text-align: left;
        align-content: start;
        align-items: start;
        justify-content: start;
    }

    .timeline-item-card .card-body {
        width: 250px !important;
    }

    .timeline-item-content {
        text-align: left !important;
        align-items: flex-start;
        max-width: 100% !important;
        width: 250px !important;
    }
    .social-icons {
        padding-right: 5px !important;
        padding-left: 5px !important;
    }
}

.timeline-item-content {
    padding: 15px;
    position: relative;
    width: 400px !important;
    max-width: 70%;
    text-align: right;
}

.timeline-item-content::after {
    content: ' ';
    background-color: var(--bs-dark);
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: -7.5px;
    top: calc(50% - 7.5px);
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content {
    text-align: left;
    align-items: flex-start;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
    right: auto;
    left: -7.5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-company-url {
    color: var(--main-color);
}

.timeline-item-content time {
    color: #777;
    font-size: 12px;
    font-weight: bold;
}

.timeline-item-content a {
    font-weight: bold;
}

.timeline-item-content a::after {
    content: '  ►';
    font-size: 0.7rem;
}

.timeline-item-content .circle {
    background-color: #fff;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    right: -38px;
    width: 16px;
    height: 16px;
    z-index: 100;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
    right: auto;
    left: -38px;
}
