<div class="columns is-centered is-multiline is-mobile">
    {% for project in site.data.projects %}
    <div class="column has-text-centered is-paddingless is-marginless is-one-third-widescreen is-one-third-desktop is-one-third-fullhd is-one-third-tablet is-two-third-mobile is-three-quarters-touch"
         id="project-card">
        <a class="row" href="{{project.link}}" target="_blank">
            <div class="project-image-card image is-16by9 is-marginless"
                 style="background-image: url({{project.image}});"></div>
        </a>
        <div class="row card-content">
            <h1 class="title has-text-black is-size-4">{{ project.name }}</h1>
            <p class="has-text-black has-text-weight-light content">{{ project.description | truncate: 80}}</p>
        </div>
    </div>
    {% endfor %}
</div>