@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css');


html,
body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth !important;
    transition: all 0.25s ease;
}



/* width */
::-webkit-scrollbar {
    width: 0.5vmax !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: white !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #363636 !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black !important;
}

::placeholder {
    font-family: 'Poppins', sans-serif;
}

#navbar {
    .navbar-burger {
        span:nth-child(2) {
            left: calc(50%);
            width: 8px;
        }
    }
}

.is-active {
    font-weight: bold;
}

.columns {
    .button {
        margin: 0.5rem !important;
    }
}

hr {
    margin: 1rem auto;
    height: 1px;
}

.column {
    margin: auto 0.5rem;
    padding: 0.5rem;
}

.searchResult {
    a {
        .title {
            text-decoration: underline;
        }
    }
}

.timeline-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
    ul.timeline-list {
        position: relative;
        padding-left: 40px;
        list-style: none;
    }
    ul.timeline-list:before {
        content: '';
        position: absolute;
        left: 20px;
        top: 0;
        height: 100%;
        width: 2px;
        background: #333;
    }
    .timeline-item {
        position: relative;
        margin-bottom: 2rem;
        .timeline-item-content {
            background: #f9f9f9;
            padding: 1.5rem;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            position: relative;
        }
        .timeline-period {
            font-size: 0.9rem;
            font-weight: bold;
            color: #666;
        }
        .timeline-position {
            font-size: 1.2rem;
            font-weight: bold;
            color: #333;
        }
        .timeline-company-url {
            font-size: 1rem;
            color: #007bff;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        .circle {
            position: absolute;
            left: -30px;
            top: 0;
            background: #333;
            border-radius: 50%;
            width: 15px;
            height: 15px;
        }
    }
}