// Переменные
$main-color: var(--main-color);
$dark-color: var(--bs-dark);
$timeline-width: 4px;
$circle-size: 16px;
$media-breakpoint-sm: 767px;
$media-breakpoint-md: 999px;
$media-breakpoint-xs: 499px;
$media-breakpoint-xxs: 399px;

// Миксин для медиа-запросов
@mixin media($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

.timeline-list {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 40px 0;
  padding-left: 0;

  &::after {
    background-color: white;
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    width: $timeline-width;
    height: 100%;
  }

  // Медиа-запросы для разных разрешений
  @include media($media-breakpoint-sm) {
    &::after {
      left: 3rem;
    }
  }

  @include media($media-breakpoint-xxs) {
    &::after {
      left: 0;
    }
  }
}

.timeline-item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  position: relative;
  margin: 10px 0;
  width: 50%;

  &:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;
    padding-left: 30px;
    list-style: none;
  }

  // Медиа-запросы для разных разрешений
  @include media($media-breakpoint-sm) {
    align-self: flex-start;
    justify-content: flex-start;
    padding-left: 5rem;
    width: 450px;
    list-style: none;
  }

  @include media($media-breakpoint-xs) {
    width: 350px;
  }

  @include media($media-breakpoint-xxs) {
    width: 250px;
    padding: 0;
  }
}

.timeline-item-content {
  padding: 15px;
  position: relative;
  width: 400px !important;
  max-width: 70%;
  text-align: right;

  &::after {
    content: ' ';
    background-color: $dark-color;
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: -7.5px;
    top: calc(50% - 7.5px);
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
  }

  &:nth-child(odd) {
    text-align: left;
    align-items: flex-start;

    &::after {
      right: auto;
      left: -7.5px;
      box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
    }
  }

  // Медиа-запросы для разных разрешений
  @include media($media-breakpoint-sm) {
    max-width: 100% !important;
    text-align: left !important;
    align-items: flex-start;
  }

  @include media($media-breakpoint-xs) {
    width: 250px !important;
  }

  @include media($media-breakpoint-md) {
    width: 350px !important;
    max-width: 100% !important;
  }
}

.timeline-company-url {
  color: $main-color;
  font-weight: bold;

  &::after {
    content: '  ►';
    font-size: 0.7rem;
  }

  // Медиа-запросы для разных разрешений
  @include media($media-breakpoint-sm) {
    align-self: flex-start;
  }
}

.timeline-period {
  text-align: left;
}

.circle {
  background-color: #fff;
  border: 2px solid $main-color;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  right: -38px;
  width: $circle-size;
  height: $circle-size;
  z-index: 100;

  &:nth-child(odd) {
    right: auto;
    left: -38px;
  }

  // Медиа-запросы для разных разрешений
  @include media($media-breakpoint-xxs) {
    left: -7px !important;
  }
}